<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>


<% if @trainer.id == current_trainer.id %>
  	<%= button_to "Create Pokemon", new_path, :class => "button medium", :method => :get%>
<%end%>


<% @trainer.pokemons.each do |p| %>

  <% if p.ndex %>
    <%= image_tag("pokemon/#{p.ndex}.png", alt: "pokemon") %>
  <% end %>

  		<%=p.name%>
  		<%=p.level%>
     <%=p.health%> <%= button_to "Damage!", damage_path(id: p) , :class => "button medium", :method => :patch %>

  	<br />
<% end %>




